<html>
<head>
	<meta charset="utf-8" />
	
	<!-- Include to ensure responsive pages are displayed correctly -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Bootstrap and custom CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/css/munchies.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Mootools -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/mootools/1.4.5/mootools-yui-compressed.js"></script>
	
	<!-- Fav & iOS icons location -->
  </head>

<body>
<header>
    <script>
        window.addEvent('domready',function() {
            $$('a.collapseNav').addEvent('click',  function(e) {
                e.preventDefault();
                if($('nav').getStyle('display') == 'none') {
                    $('nav').setStyle('display','block');                 
                } else $('nav').setStyle('display','none');
                
            });
            window.addEvent('resize', function(){
              if(window.getSize().x > 480 ) {
                    $('nav').setStyle('display','block');             
              } else {
                    $('nav').setStyle('display','none');   
              }
            });
       });
    </script>
    
      <div class='row' align="center">
        <h1>UCSD MUNCHIES</h1><img src="../images/1.png"/></div> 
    
    <!-- Nav -->
    <div class='row'>
        <div class='nav_collapse'><a href='#collapse' class='collapseNav' data=''>Site Map</a></div>
    </div>
    <div class='row'>
        <div class='span12'>
            <nav class='bordered' id="nav">
                <li>       
                    <a href="/">Home</a>       

                </li>
                <li>       
                    <a href="/info"> Sustain</a>       

                </li>

                <li>     
                    <a href="/ucsd"> UCSD</a>

                </li>

            </nav>
        </div>
    </div>
</header>

<div role='main'>
    <!-- Main -->

    <div class='span12'>
            <h4>The Muchies Team:</h4>
            <p>
            Grant Nelson - gnelson@ucsd.edu 
            </p><p>
            Toma Zubatiy - tamarazubatiy@gmail.com 
            </p><p>
            Lindsey Potter - lnpotter@ucsd.edu 
            </p><p>
            Keegan Keelan - keegerbutters@gmail.com 
            </p><p>
            Samantha Antonious - saantoni@ucsd.edu
            </p><p>
            Laurel Williams - lewillia@ucsd.edu
            </p>
    
    </div>
</div>
    <div class='row'>
        <div class='banner visible-desktop span8 bordered'>
        <!-- Banner -->
        </div>
        <div class='banner visible-tablet visibile-phone span12 bordered'>
        <!-- Banner -->
        </div>
        <div class='home_action span4 bordered'>
        <!-- Call To Action -->
        </div>     
    </div>
<!-- Footer -->
<footer>
    <div class='row'>
        <div class='contact_form span4 bordered'>
            <form>
                                
            </form>
        </div>
        <div class='contact_address span4 bordered'>
        </div>
        <div class='contact_social span4 bordered'>
            <h3></h3>
        </div>
		
	</div>
</footer>
</body>
</html>


