<html>
<head>
<!-- Basic Page Info -->
<title>Munchies102C &mdash TeamInfo</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/css/munchies.css" rel="stylesheet">

<!-- JavaScript -->
</head>
<body>
    <p>
102C MUNCHIES TEAM MEMBERS:
    </p>
    <p>
    Grant Nelson - gnelson@ucsd.edu - (713) 419 3495
    </p><p>
    Toma Zubatiy - tamarazubatiy@gmail.com - (858) 692 3192
    </p><p>
    Lindsey Potter - lnpotter@ucsd.edu - (415) 686 7715
    </p><p>
    Keegan Keelan - keegerbutters@gmail.com - (805) 305 4009
    </p><p>
    Samantha Antonious - saantoni@ucsd.edu - (626) 246 4726
    </p><p>
    Laurel Williams - lewillia@ucsd.edu - (661) 431 3442
    </p>
        <img src="../images/pc.jpg"/>
        &nbsp;
</body>
<footer>
    <div class="col-xs-3">
		<a href="/"><span class="glyphicon glyphicon-home focusme"></span></a>
	</div>
</footer>
</html>
