body {
}
.img{
        position: absolute;
        width: 75%; /*the image width*/
        height: 66%; /*the image height*/
        margin-left: -50px; /*half the image width*/
    }
/* Miscellaneous  
.bordered { border: 1px solid black; }
*/
/* Header */
.logo { height: 88px; margin-bottom: 15px; }
.nav_collapse { height: 40px; display: none; }
nav { min-height: 40px; width: 100%;   margin-bottom: 15px; }
nav li { float: left; line-height: 40px; padding: 0 20px; list-style: none; }

/* Main */
.banner { height: 169px;  margin-bottom: 15px; }
.home_action { height: 169px;  margin-bottom: 15px; }
.welcome { height: 139px;  margin-bottom: 15px; }

/* Footer */
.contact_form { height: 330px;  margin-bottom: 15px; }
.contact_address { height: 330px;  margin-bottom: 15px; }
.contact_social { height: 330px;  margin-bottom: 15px; }


 /* Landscape phones and down */
@media (max-width: 480px) { 
    .nav_collapse { display: block }
    #nav {  }
    nav { display: none; }
    nav li  { float: none; }
    
    .home_action { display: none; }
    .contact_address { display: none; }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    .contact_social { display: none; }
    .home_action { display: none; }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
    .home_action { display: none; }
}

/* Large desktop */
@media (min-width: 1200px) { 
    nav { max-width: 1200px !important; }
}

