/* ========= CENTER TO MOBILE SIZE ======== */
#background {
  background-color: #d7d7d7;
}
.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}
.inner {
  max-width: 100%;
  height: 100%;
  background-color: white;
  margin: 0 auto;
}

/* ================= FOOTER-NAV =================*/
footer {
    position:relative;
    clear:both;
    z-index: 10;
    display: inline-block;
    width: 100%;
    background-color: white;
    margin: auto;
    border-top: -1em;
}

footer .col-xs-3 {
    display: inline-block;
    text-align: center;
    width: 100%;
}
footer .glyphicon-list {
    margin: auto;
    font-size: 2.5em;
}
footer .glyphicon-home {
    margin: auto;
    font-size: 2.5em;
}

footer .col-xs-3 a {
    text-decoration: none;
    color: #999;
}
footer .focusme {
  color: black !important;
  /*text-decoration: underline !important;*/
}

